@media (max-width: 992px) {
    .promo {
        .header {
            margin: 0 30px;
        }
        &__wrapper {
            margin-right: 25px;
        }
    }

}
@media (max-width: 768px) {
    .carousel {
        &__inner {
            width: 90%;
            img {
                display: block;
                width: 90%;
                margin: 0 auto;
            }
        }
    }
    [data-action="stop"], [data-controls="next"], [data-controls="prev"], [data-controls="start"] {
        display: none !important;
    }
    .tns-nav {
        display: block !important;
    }
    .header__phone {
        font-size: 17px;
    }
    .header__official {
        margin: 0 10px;
    }
    .consultation {
        padding: 100px 35px;
        h2 {
            font-size: 29px;
        }
    }
    .reviews {
        &__block {
            padding: 0 45px;
        }
        &__descr {
            margin-left: 25px;
        }
    }
}
@media (max-width: 576px) {
    .advantages {
        &__wrapper {
            flex-direction: column;
        }
    }
    .promo {
        .header {
            flex-wrap: wrap;
            &__logo {
                margin-bottom: 25px;
            }
            &__official {
                margin: 0 25px;
            }
        }
        &__wrapper {
            margin-right: 0;
            text-align: center;
        }
        &__icon {
            margin-left: 0;
        }
        &__icons {
            justify-content: space-around;
        }
    }
    .consultation {
        h2.title {
            text-align: center;
        }
        &__descr {
            text-align: center;
        }
        form {
            margin: 36px auto;
            margin-bottom: 0;
        }
    }
    .reviews {
        &__block {
            flex-direction: column;
            align-items: center;
        }
        &__descr {
            margin-top: 15px;
            width: 100%;
            text-align: center;
        }
    }
    
}
@media (max-width: 425px) {
    .promo {
        .header {
            font-size: 35px;
            justify-content: center;
            &__official {
                margin-bottom: 20px;
            }
        }
        &__subheader {
            font-size: 19px;
            text-align: center;
        }
    }
    .catalog {
        h2 {
            font-size: 27px;
        }
        &__tabs {
        flex-direction: column;
        justify-content: space-between;
        }
        &__tab {
            margin-bottom: 10px;
        }
    }
    .footer {
        &__info {
            width: 100%;
        }
    }
    .modal {
        padding: 20px;
        width: 80%;
        min-height: 50%;
        &__subtitle {
            font-size: 20px;
        }
        &__descr {
            font-size: 16px;
            margin-top: 10px;
        }
    }
    .feed-form {
        width: 100%;
    }
    .button_submit {
        font-size: 14px;
    }
}
@media (max-width: 320px) {
    .promo {
        &__header {
            font-size: 35px;
        }
        .header {
            font-size: 35px;
            &__official {
                
                margin-bottom: 20px;
            }
            &__contacts {
                align-items: center;
            }
        }

        &__wrapper {
            .button {
                width: 80%;
                font-size: 100%;
            }
        }
    }
    .consultation {
        h2 {
            text-align: center;
            font-size: 17px;
            line-height: 35px;
        }
        &__descr {
            text-align: center;
            font-size: 16px;
            line-height: 24px;
        }
        form {
            width: 100%;
        }
        button {
            font-size: 15px;
        }
    }
    .tns_nav {
        width: 30px;
    }
}